:root {
    --celeste:#B9D6F2;
    --fondo: #003559
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: "Bebas Neue", sans-serif;
}

body h1 {
    display: flex;
    justify-content: center;
}
header {
    padding: 30px 0;
}

.container {
    width: 90%;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotype {
    font-weight: normal;
    color: pink;
    font-size: 40px;
}

header nav a {
    color: var(--celeste);
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover {
    color: #006DAA;
}
header nav a:active {
    color:pink;
}

/* MAIN */

section {
    width: 90%;
    margin: auto;
}
section h2 {
    color: #B9D6F2;
    margin: auto;

}

form label {
    color: #B9D6F2;
    display: block;
    font-weight: bold;
    color: #CDB499;

}

form div .text {
    color: pink;
} 

/* FOOTER */

footer {
    width: 90%;
    margin: auto;
}

footer div {
    color: #B9D6F2;
    margin: auto;
}


