:root {
    --celeste:#B9D6F2;
    --fondo: #003559
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: "Bebas Neue", sans-serif;
}

body h1 {
    display: flex;
    justify-content: center;
}
header {
    padding: 30px 0;
}

.container {
    width: 90%;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotype {
    font-weight: normal;
    color: pink;
    font-size: 40px;
}

header nav a {
    color: var(--celeste);
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover {
    color: #006DAA;
}
header nav a:active {
    color:pink;
}

/*--- Peli Principal ---*/

.movie{
    font-size: 16px;
    min-height: 40.62em;
    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url(../assets/img/interstellar.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.movie .container {
    margin: auto;
    margin-bottom: 6.25em;
}

.movie .title {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.movie .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.movie .button {
    background: #006DAA;
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: aliceblue;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s;
    font-size: 1.12em;
}
.movie .button:hover {
    background: #B9D6F2;
    color: #061A40;
}

.movie .button i {
    margin-right: 1.25em;
}

/*PELICULAS FAVORITAS*/

#films {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#films div img:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
    overflow:hidden;
    transition-duration: 0.3s;
}

#films div .divMovie {
    color: #B9D6F2;
    text-align: center;
}
#films div h3 {
    text-decoration: underline;    

}

#films div .divMovie{
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 3;
        animation-direction: alternate;
    
}
